<!DOCTYPE html>
<html lang="en">
<head>
  <title>Typography</title>
  <!-- custom-theme -->
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="" name="keywords"/>
  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <!-- //custom-theme -->
  <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="css/style.css" media="all" rel="stylesheet" type="text/css"/>
  <!-- js -->
  <script src="js/jquery.min.js" type="text/javascript"></script>
  <!-- //js -->
  <!-- font-awesome-icons -->
  <link href="css/font-awesome.min.css" rel="stylesheet"/>
  <!-- //font-awesome-icons -->
  <link
      href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet">
  <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
      rel="stylesheet">
  <style>
    /* 外面盒子样式---自己定义 */
    .page_div {
      margin: 20px 10px 20px 0;
      color: #666
    }

    /* 页数按钮样式 */
    .page_div button {
      display: inline-block;
      min-width: 30px;
      height: 28px;
      cursor: pointer;
      color: #666;
      font-size: 13px;
      line-height: 28px;
      background-color: #f9f9f9;
      border: 1px solid #dce0e0;
      text-align: center;
      margin: 0 4px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    #firstPage, #lastPage, #nextPage, #prePage {
      width: 50px;
      color: #0073A9;
      border: 1px solid #0073A9
    }

    #nextPage, #prePage {
      width: 70px
    }

    .page_div .current {
      background-color: #0073A9;
      border-color: #0073A9;
      color: #FFF
    }

    /* 页面数量 */
    .totalPages {
      margin: 0 10px
    }

    .totalPages span, .totalSize span {
      color: #0073A9;
      margin: 0 5px
    }

    /*button禁用*/
    .page_div button:disabled {
      opacity: .5;
      cursor: no-drop
    }
  </style>
</head>

<body>
<!-- banner -->
<div class="banner1 jarallax">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header navbar-left">
        <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
                data-toggle="collapse"
                type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="index.html">好食膳</a></h1>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <nav class="link-effect-8" id="link-effect-8">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">首页</a></li>
            <li><a href="article.html">发布文章</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">浏览文章<b class="caret"></b></a>
              <ul class="dropdown-menu agile_short_dropdown" id="category">

              </ul>
            </li>
            <li><a href="contact.html">加入我们</a></li>
            <li class="dropdown" id="loginStatus"></li>

          </ul>
        </nav>
      </div>
    </nav>
  </div>
</div>
<!-- //banner -->
<!-- typography -->
<div class="typo">
  <div class="container">
    <div id="userName"></div>
    <div id="attention"></div>
    <div class="bs-docs-example">
      <table class="table table-striped">
        <tbody id="articleName">
        </tbody>
      </table>
    </div>


    <div class="page_div" id="page"></div>

  </div>
</div>
<!-- //typography -->

<!-- footer -->
<div class="footer">
  <div class="container">

    <div class="w3_newsletter_footer_grids">
      <div class="w3_newsletter_footer_grid_left">
        <form action="#" method="post">
          <input name="Email" placeholder="Email" required="" type="email">
          <input type="submit" value="Send">
        </form>
      </div>


    </div>

    <div class="agileinfo_copyright">
      <p>Copyright &copy; 2019.Company name All rights reserved.More Templates </p>
    </div>
  </div>
</div>
<!-- //footer -->
<script src="js/move-top.js" type="text/javascript"></script>
<script src="js/easing.js" type="text/javascript"></script>
<script src="js/pageMe.js" type="text/javascript"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
  $(document).ready(function () {
    /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear'
        };
    */

    $().UItoTop({easingType: 'easeOutQuart'});

  });
</script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script src="js/jarallax.js"></script>
<script src="js/SmoothScroll.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<script type="text/javascript">
  /* init Jarallax */
  $('.jarallax').jarallax({
    speed: 0.5,
    imgWidth: 1366,
    imgHeight: 768
  })
</script>
</body>
<script>
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return (false);
  }
</script>
<script>
  $(document).ready(function () {

    $.ajax({
      type: "GET",
      url: "userInfo/getUserInfo",//路径
      data: {
        "userId": getQueryVariable("userId")
      },
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        var userName = '<h2 class="w3ls_head"><span>' + data.userName + '</span></h2>';
        $("#userName").html('').append(userName);
      }
    })
    data();
  })
</script>
<script>
  function data(current) {
    var userId = getQueryVariable("userId");
    $.ajax({
      type: "GET",
      url: "article/myArticle",//路径
      data: {
        "userId": userId,
        "current": current
      },
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        page(data.current, data.pages, data.total);
        console.log(data);
        var articleName = "";
        for (var i = 0; i < data.records.length; i++) {
          articleName += '<tr><td>' + (i + 1) + '<input type="hidden" id="' + i + '" value="'
              + data.records[i].id + '"></td><td><a href="article_info.html?articleId='
              + data.records[i].id + '">' + data.records[i].articleName + '</a> </td><td>阅读量：'
              + data.records[i].readNum
              + '</td></tr>'
        }
        $("#articleName").html('').append(articleName);
      }
    });
  }
</script>
<script>
  function page(current, pages, total) {
    // pageMe.js 使用方法
    $("#page").paging({
      pageNum: current, // 当前页面
      totalNum: pages, // 总页码
      totalList: total, // 记录总数量
      callback: function (num) { //回调函数
        data(null, num);
      }
    });
  }
</script>
<script>
  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: "userAttention/selAttention",//路径
      data: {
        "attentionUserId": getQueryVariable("userId")
      },
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var attention = "";
        if (data.data == null) {
          attention = '<button class="btn btn-success" onclick="attention(1)">添加关注</button>';
        } else {
          attention = '<button class="btn btn-danger" onclick="attention(-1)">移除关注</button>'
        }

        $("#attention").html('').append(attention);
      }
    })
  })
</script>
<script>
  function attention(type) {
    $.ajax({
      type: "POST",
      url: "userAttention/addOrRemoveAttention",//路径
      data: {
        "userId": getQueryVariable("userId"),
        "type": type
      },
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        if (data.code == 0) {
          window.location.reload();
        }
      }
    })
  }
</script>
<script>
  $(document).ready(function () {
    var userName = localStorage.getItem("userName");
    if (userName == null) {
      var loginStatus = ' <a href="login.html">登录</a>';
      $("#loginStatus").html('').append(loginStatus);
    } else {
      var loginStatus = '<a href="#" class="dropdown-toggle" data-toggle="dropdown">'
          + userName
          + '<b class="caret"></b></a><ul class="dropdown-menu agile_short_dropdown"><li><a href="my_collection.html">我的收藏</a></li><li><a href="my_attention.html">我的关注</a></li><li><a href="my_article.html">我的文章</a></li><li><a href="password.html">修改密码</a></li><li><a onclick="logout()">退出</a></li></ul>';
      $("#loginStatus").html('').append(loginStatus);

    }
  })
</script>
<script>
  function logout() {
    localStorage.clear();
    window.location.reload();
  }
</script>
<script>
  $(document).ready(function () {

    $.ajax({
      type: "GET",
      url: "category/listCategory",//路径
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        var category = "";

        for (var i = 0; i < data.length; i++) {
          category += ' <li><a href="article_list.html?categoryId=' + data[i].id + '">'
              + data[i].categoryName + '</a></li>';
        }
        $("#category").html('').append(category);
      }
    });
  })
</script>
</html>